@charset "UTF-8";

body{
    background-color: rgb(154, 186, 154);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: darkgreen;
}

h1#principal{
    text-align: center;
    background-color: darkgreen;
    color: white;
}


h2{
    color: greenyellow;
}

.basico{
color: lightblue;
}

.intermediario{
color: lightyellow;
}

.avancado{
    color: purple;
}

